* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--body-bg);
}
.model{
    display: none;
}

nav a {
    color: var(--body-bg);
    transition: .3s;

    & :hover {
        opacity: 0.7;
    }
}
.nav__list {
    display: flex;
}
.nav__list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--body-text);
    height: 8vh;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--body-bg);
    margin: 8px;
    transition: 300ms;
}
.nav__list.active {
    transform: translateX(0);
}
.mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px,8px);
}
.mobile-menu.active .line-2 {
    opacity: 0;
}
.mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-5px,-7px);
}

.home-main-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--img-back-home) no-repeat var(--body-bg);
}
.home-main-content main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-main-content .text {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 60px;
}
.home-main-content .text .name h2{
    font-weight: 500;
    text-transform: uppercase;
    color: var(--body-text);
}
.home-main-content .text .dev {
    margin-left: 1.7rem;
    color: var(--color-blue);
}
.home-main-content .links-social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home-main-content .download__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    gap: 36px;
    box-shadow: 10px 10px #081622;
    background-color: var(--color-blue);
    margin-top: 30px;
}
.home-main-content .download__button h2{
    color: #fff;
    letter-spacing: .2rem;
    
}
#arrow_download {
    color: #fff;
    font-size: 30px;
    transform: rotate(-45deg);
    display: none;
}
.download__button:hover{
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}
.download__button:hover #arrow_download {
    display: block;
}
.icon {
    animation: flutuar 3s alternate infinite ease-in-out ;
}
.icon:nth-child(1){animation-delay: 0s;} .icon:nth-child(2){animation-delay: .5s;} .icon:nth-child(3){animation-delay: 1s;}

.links-social .icon i {
    color: var(--body-text);
    font-size: 40px;
}

/* ? PROJECTS */
.project-main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 90vh;
    width: 90%;
}
.header__project{
    height: 80px;
    display: flex;
    align-items: end;
    border-bottom: 2px solid var(--body-text);
}
.header__project h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--body-text);
}
.project-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.project-item{
    width: 250px;
    height: 200px;
    border-radius: 40px;
    margin: 30px 50px 0 auto;
    box-shadow: 15px 13px #081622;
    background-color: var(--color-blue);
}
.project-item:hover {
    transform: scale(1.1);
    transition: 300ms all ease-in-out;
}
.project-item:hover .project-item--title,
.project-item:hover .project-item--button {
    display: flex;
    transition: 300ms all ease-in-out;
}
.project-item--title {
    justify-content: center;
    color: #fff;
    margin-top: 15px;
    display: none;
}
.project-item--button {
    position: relative;
    top: 70px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    display: none;
}
.project-item--button:hover{
    background-color: #081622;
    transition: 300ms all ease-in-out;
}
.project-item--button i {
    color: #fff;
    font-size: 20px;
}
/* ? END PROJECTS */


@keyframes flutuar{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(12px);
    }
    
}
@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.slideIn {
    animation: slideIn .5s both ease-in-out;
}
.slideOut {
    animation: slideOut .5s both ease-in-out;
}