* {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--body-bg);
}

.config {
    position: fixed;
    top: 30px;
    right: 50px;
    color: var(--body-text);
    font-size: 40px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    padding: 0 20px;
    z-index: 999;
    box-shadow: -2px 0 50px rgba(0, 0, 0, .7);
    background-color: var(--body-text);
}

.header-navbar {
    position: relative;
    height: 10vh;
}
.navegation__item .item {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    color: var(--body-bg);
    transition: all .3s ease-in-out;
}
.navegation__item .item:hover {
    background-color: var(--color-blue);
    cursor: pointer;
}
#close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--body-bg);
    font-size: 45px;
    font-weight: 900;
    cursor: pointer;
}
.theme-area{
    position: absolute;
    bottom: 12px;
    display: flex;
    gap: 7px;
}
.theme-area p {
    font-weight: 100;
    color: var(--body-bg);
}
.theme-area input {
    width: 20px;
    outline: none;
}
.home-main-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--img-back-home) no-repeat;
}

.home-main-content .text {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 60px;
}
.home-main-content .text .name h2{
    font-weight: 500;
    text-transform: uppercase;
    color: var(--body-text);
}
.home-main-content .text .dev {
    margin-left: 1.7rem;
    color: var(--color-blue);
}
.home-main-content .links-social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    animation: flutuar 3s alternate infinite ease-in-out ;
}
.icon:nth-child(1){animation-delay: 0s;} .icon:nth-child(2){animation-delay: .5s;} .icon:nth-child(3){animation-delay: 1s;}

.links-social .icon i {
    color: var(--body-text);
    font-size: 40px;
}

/* ? PROJECTS */
.project-main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 90vh;
    width: 90%;
}
.header__project{
    height: 80px;
    display: flex;
    align-items: end;
    border-bottom: 2px solid var(--body-text);
}
.header__project h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--body-text);
}
.project-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.project-item{
    width: 250px;
    height: 200px;
    border-radius: 40px;
    margin: 30px 50px 0 auto;
    box-shadow: 15px 13px #081622;
    background-color: var(--color-blue);
}
.project-item:hover {
    transform: scale(1.1);
    transition: 300ms all ease-in-out;
}
.project-item:hover .project-item--content {
    display: block;
    transition: 1s all ease-in-out;
    
}
.project-item--content{
    display: none;
}
.project-item--title {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}
.project-item--button {
    position: relative;
    top: 70px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.project-item--button:hover{
    background-color: #081622;
    transition: 300ms all ease-in-out;
}
.project-item--button i {
    color: #fff;
    font-size: 20px;
}
/* ? END PROJECTS */


@keyframes flutuar{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(12px);
    }
    
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to{
        transform: translateX(150%);
    }
}

.slideIn {
    animation: slideIn .5s both ease-in-out;
}
.slideOut {
    animation: slideOut .5s both ease-in-out;
}