@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* !  COLORS */
    --body-bg: #E8F1F2;
    --body-text: #13293d; 
    --color-blue: #1B98E0;
    --color-hover: #d6d6d6;

    /* * FONTS */
    --font-anton: 'Anton', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

}

.dark-mode:root{
    /* !  COLORS */
    --body-bg: #13293d;
    --body-text: #E8F1F2;

    --color-hover: #9c9c9c;

    /* * FONTS */
    --body-font: 'Anton', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}